.wrapper {
    font-size: 16px;  
    background-color:azure;
}
.container {
    max-width: 1440px;
     width: 100%;
 }
 .form_container{
    margin: 0 auto;
    padding: 30px 30px;
    display: flex;
    justify-content: center;
}
.form{
    border: 3px solid #9d44d9;
    padding: 30px 15px;
}
.title_form{
    display: flex;
    justify-content: center;
}
.form_kredit{
    display: flex;
    flex-direction:column;
}
.form_submit{
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #FFFFFF;
    
}
.form_submit:hover{
    background-color: #9d44d9;
    color: #FFFFFF;
    
    
}
